.kitchen/*
./cookbooks/wazuh_agent/.kitchen
./cookbooks/wazuh_agent/.kitchen/*
./cookbooks/wazuh_manager/.kitchen
./cookbooks/wazuh_manager/.kitchen/*
./cookbooks/wazuh_elastic/.kitchen
./cookbooks/wazuh_elastic/.kitchen/*
./cookbooks/wazuh_filebeat/.kitchen
./cookbooks/wazuh_filebeat/.kitchen/*
*.lock
*.log
*.pyc
