name: Kitchen tests for Wazuh Chef

on:
  push:
    branches: 
      - feature-cookbooks
  pull_request:
    branches:
      - feature-cookbooks

jobs:
  kitchen-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [
          centos-8,
          ubuntu-2004,
        ]
        suite: [
          wazuh-server,
          wazuh-server-oss,
          wazuh-agent,
          opendistro,
          elastic-stack
        ]
    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Install Chef
      uses: actionshub/chef-install@main
    - name: Test ${{ matrix.suite }} cookbook
      uses: actionshub/test-kitchen@main
      env:
        CHEF_LICENSE: accept-no-persist
        KITCHEN_LOCAL_YAML: kitchen.yml
      with:
        suite: ${{ matrix.suite }}
        os: ${{ matrix.os }}
        action: test
        